// Colors
// Colors
$gray: #f6f5f6;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$dark-green: darkgreen;
$pink: #ff0097;
$red: #F1352B;
$orange: #f5731d;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: purple;
$crimson: crimson;
$blue: #403c8d;
$dark-blue: rgb(4, 4, 116);
$primary-gray: #5d5d5d;
$secondary-gray: #777;
$dark-gray: #222;
$bg-lightgray: #f1f1f1;
$primary-bg-color: #596965;
